In [2]:
import numpy as np
import pandas as pd
import os

# Huiswerkopgaven - deel 2

Dit notebook bevat opgaven om thuis mee aan de slag te gaan. Het laden van (voorbeelden van) uitwerkingen gaat op dezelfde manier als in de opgaven die tijdens de cursus zijn gedaan. Het notebook is onderverdeeld in twee stukken. Het eerste onderdeel raad ik je zeker aan te doen. Dit leert je nog meer basisfunctionaliteit van de tijdens de cursus behandelde stof. Feitelijk heb je zonder die opgaven een incompleet beeld. Het tweede deel (de "bonus") kun je doen als je er zin in hebt en uitgedaagd wil worden. Je leert er op zich niet onmisbare stof, maar wel nieuwe dingen die leuk zijn (en van meer oefening leer je het beter).


## 1. Een array centreren door broadcasting
Loopen over een array is erg traag in Python. Veel functies in numpy werken daarom als array-operaties, ook wel vectoroperaties genoemd, die op de hele array tegelijk werken. Broadcasting breidt die mogelijkheden nog een beetje uit. Hier zullen we een array centreren. Maak een array van 20 rijen en 3 kolommen en met random getallen tussen 0 en 3. Vermenigvuldig de middelste kolom met 2. Bereken het gemiddelde van elke kolom. Trek deze gemiddelden af van de kolommen en verifieer dat de gemiddelden dan 0 zijn. Elk van deze zinnen kan in 1 regel Python worden gedaan. Probeer dat ook te doen.

Welke van al deze stappen vallen onder broadcasting?

In [3]:
to_include = os.path.join('uitwerkingen', '2h-broadcasting.py') 
# %load $to_include

## 2. Merging, joining en combineren op allerlei manieren.

Voordat we kijken naar het gebruik van indices en kolommen voor het combineren van data, kijken we snel naar "index alignment". Zie hier twee DataFrames, met de top 3 van Amerikaanse Staten naar oppervlakte en bevolking (ik definieer meteen een functie voor zometeen):

In [9]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

# Voorbeeldje:
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

Series werken als arrays. We kunnen ze dus gewoon op elkaar delen. Wat zijn de indices in deze twee Series objecten? Wat gebeurt er als je ze op elkaar deelt om de bevolkingsdichtheid uit te rekenen? Hoe zit dat? 

Laat vervolgens zien dat dat met DataFrames net zo werkt.

Maak met bovenstaande functie twee dataframes met overeenkomstige kolommen. Hoe werkt concat op die twee? Concat kan ook op de andere as dan de default. Onderzoek hoe dit werkt.

Reproduceer de twee koffie dataframes uit de instructie. Als je ze merget zonder specificatie van de key, wat gebeurt er dan? Welke vorm van join resulteert in de langste dataframe, left, right, inner of outer?

In [22]:
to_include = os.path.join('uitwerkingen', '2h-combineren.py') 
# %load $to_include

## 3. Ingewikkeldere aggregatie

Voor deze opdracht gebruiken we een met seaborn (een pakket wat we in de volgende cursusbijeenkomst uitvoerig zullen bekijken) meegeleverde dataset over exoplaneten (planeten bij andere sterren, in dit geval ontdekt voor 2014):

In [24]:
import seaborn as sns
planets = sns.load_dataset( 'planets')
print(planets.shape)
planets.head()

(1035, 6)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

Als het goed is weet je al hoe je basisstatistieken voor elke numerieke kolom krijgt. Doe dit.

Groepeer deze per methode en krijg dezelfde statistieken op je scherm over de kolom jaar. Wat betekent de count kolom nu?

Met de .aggregate() methode kun je meerdere aggregaties tegelijk doen op groupby objecten. Groepeer de planeten op jaar van ontdekking en laat de minimale waarde en mediaan van de 'mass' en 'distance' kolommen zien, allemaal in 1 overzicht.

Gebruik wat je wil en weet om uit de exoplanetentabel een tabel te genereren die per methode het aantal planeten per decennium weergeeft.

In [38]:
to_include = os.path.join('uitwerkingen', '2h-aggregatie.py') 
# %load $to_include

## Bonusopgaven

### Datumtijd in pandas