In [16]:
import numpy as np
import pandas as pd
import os

# Huiswerkopgaven - deel 2

Dit notebook bevat opgaven om thuis mee aan de slag te gaan. Het laden van (voorbeelden van) uitwerkingen gaat op dezelfde manier als in de opgaven die tijdens de cursus zijn gedaan. Het notebook is onderverdeeld in twee stukken. Het eerste onderdeel raad ik je zeker aan te doen. Dit leert je nog meer basisfunctionaliteit van de tijdens de cursus behandelde stof. Feitelijk heb je zonder die opgaven een incompleet beeld. Het tweede deel (de "bonus") kun je doen als je er zin in hebt en uitgedaagd wil worden. Je leert er op zich niet onmisbare stof, maar wel nieuwe dingen die leuk zijn (en van meer oefening leer je het beter).


## 1. Een array centreren door broadcasting
Loopen over een array is erg traag in Python. Veel functies in numpy werken daarom als array-operaties, ook wel vectoroperaties genoemd, die op de hele array tegelijk werken. Broadcasting breidt die mogelijkheden nog een beetje uit. Hier zullen we een array centreren. Maak een array van 20 rijen en 3 kolommen en met random getallen tussen 0 en 3. Vermenigvuldig de middelste kolom met 2. Bereken het gemiddelde van elke kolom. Trek deze gemiddelden af van de kolommen en verifieer dat de gemiddelden dan 0 zijn. Elk van deze zinnen kan in 1 regel Python worden gedaan. Probeer dat ook te doen.

Welke van al deze stappen vallen onder broadcasting?

In [3]:
to_include = os.path.join('uitwerkingen', '2h-broadcasting.py') 
# %load $to_include

## 2. Merging, joining en combineren op allerlei manieren.

Voordat we kijken naar het gebruik van indices en kolommen voor het combineren van data, kijken we snel naar "index alignment". Zie hier twee DataFrames, met de top 3 van Amerikaanse Staten naar oppervlakte en bevolking (ik definieer meteen een functie voor zometeen):

In [9]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

# Voorbeeldje:
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

Series werken als arrays. We kunnen ze dus gewoon op elkaar delen. Wat zijn de indices in deze twee Series objecten? Wat gebeurt er als je ze op elkaar deelt om de bevolkingsdichtheid uit te rekenen? Hoe zit dat? 

Laat vervolgens zien dat dat met DataFrames net zo werkt.

Maak met bovenstaande functie twee dataframes met overeenkomstige kolommen. Hoe werkt concat op die twee? Concat kan ook op de andere as dan de default. Onderzoek hoe dit werkt.

Reproduceer de twee koffie dataframes uit de instructie. Als je ze merget zonder specificatie van de key, wat gebeurt er dan? Welke vorm van join resulteert in de langste dataframe, left, right, inner of outer?

In [22]:
to_include = os.path.join('uitwerkingen', '2h-combineren.py') 
# %load $to_include

## 3. Ingewikkeldere aggregatie

Voor deze opdracht gebruiken we een met seaborn (een pakket wat we in de volgende cursusbijeenkomst uitvoerig zullen bekijken) meegeleverde dataset over exoplaneten (planeten bij andere sterren, in dit geval ontdekt voor 2014):

In [24]:
import seaborn as sns
planets = sns.load_dataset( 'planets')
print(planets.shape)
planets.head()

(1035, 6)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

Als het goed is weet je al hoe je basisstatistieken voor elke numerieke kolom krijgt. Doe dit.

Groepeer deze per methode en krijg dezelfde statistieken op je scherm over de kolom jaar. Wat betekent de count kolom nu?

Met de .aggregate() methode kun je meerdere aggregaties tegelijk doen op groupby objecten. Groepeer de planeten op jaar van ontdekking en laat de minimale waarde en mediaan van de 'mass' en 'distance' kolommen zien, allemaal in 1 overzicht.

Gebruik wat je wil en weet om uit de exoplanetentabel een tabel te genereren die per methode het aantal planeten per decennium weergeeft.

In [38]:
to_include = os.path.join('uitwerkingen', '2h-aggregatie.py') 
# %load $to_include

## Bonusopgaven

### Datumtijd in pandas

Iedereen die wel eens met data over data (als in: de datum) heeft gewerkt weet hoe lastig dit kan zijn, wat betekent bijvoorbeeld een maand later dan 30 januari? Of Wat is de datum van elke laatste vrijdag van een kwartaal? Pandas is ontwikkeld voor de financiele wereld en heeft mede daarom uitgebreide functionaliteiten voor datum-tijd variabelen ingebouwd.

In core Python zit ook al een library, van welke gebruik gemaakt wordt.

In [17]:
import datetime as dt
now = dt.datetime.now()
print(now)
print(now.year, now.month, now.day)

2018-09-19 10:34:14.140714
2018 9 19

In [11]:
delta = dt.datetime(now.year, now.month, now.day) - dt.datetime(2008, 6, 24, 8, 15)
print(delta) 
print(delta.days, delta.seconds)   # Let op het seconds stuk!

3738 days, 15:45:00
3738 56700

In [14]:
stamp = dt.datetime(2001, 9, 11)
str(stamp)
stamp.strftime('%Y-%m-%d')  # Formatting op http://strftime.org/

'2001-09-11'

In [26]:
# En dan nu in pandas, een TimeSeries:
dates = [dt.datetime(2011, 1, 2), dt.datetime(2011, 1, 5),
         dt.datetime(2011, 1, 7), dt.datetime(2011, 1, 8),
         dt.datetime(2011, 1, 10), dt.datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
print(ts, type(ts))
print()
print(ts.index)   # let op de aanduiding van de frequentie
print()
print(ts[::2])   # Integer-like indezing
print()
print(ts['1/10/2011'], ts['20110110'])   # Probeer dat ook eens met "fancy indexing"?
print()

2011-01-02    0.009879
2011-01-05   -1.103676
2011-01-07    0.214999
2011-01-08    1.502509
2011-01-10    0.813888
2011-01-12   -0.732366
dtype: float64 <class 'pandas.core.series.Series'>

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

2011-01-02    0.009879
2011-01-07    0.214999
2011-01-10    0.813888
dtype: float64

0.8138877366719708 0.8138877366719708

Bovenstaande geeft al aan dat werken met een datum niet heel ingewikkeld is als je de juiste functionaliteit hebt gevonden. Pandas gaat echter nog een stuk verder, en kan werken met frequenties en periodes en kan op tal van manieren de indez "resamplen". Omdat je nu met de syntax bekend bent geraakt is het volgende in opdracht vorm, maar voel je vooral niet bezwaard Google en andere resources te gebruiken bij het opzoeken van functionaliteit!

Gebruik pd.date_range() om een TimeSeries te maken met 1000 dagelijkse entries vanaf 1 januari 2010. Stop er bijvoorbeeld random getallen in.

Wat gebeurt er als je als index alleen een jaartal gebruikt? Of een jaartal en een maand?

Maak een Series van die lange reeks, die alleen de entries bevat uit de laatste twee maanden die vorkomen in de oorspronkelijke Series.

In [52]:
to_include = os.path.join('uitwerkingen', '2h-datetime.py') 
# %load $to_include

Behalve "momenten" (ook wel: TimeStamps) kan pandas ook werken met "periodes" (ook: DateTimePeriod). Dit geeft de mogelijkheid om tijdlijnen volledig te vullen, om te zien in wleke periode een bepaald moment valt, en om periodes te resamplen (getallen per maand worden dan heel gemakkelijk getallen per jaar, of per kwartaal, etc.).

Gebruik de pd.period_range() om vanaf een bepaalde datum minstens 10 tegelmatige perioden te construeren, bijvoorbeeld 10 maanden. Hoe ziet deze eruit?

Frequenties kunnen heel funky worden samengesteld. Maak een PeriodIndex die periodes van 3,5 uur kent, vanaf een zelf gekozen moment en zorg dat de index minsten een paar dagen doorloopt. Wat is de frequentie volgens pandas? 

Pandas gaat nog veel verder en kan bijvoorbeeld periodes laten beginnen en eindigen op alleen alle werkdagen, van de laatste werkdag van een kwartaal tot de laatste werkdag van het volgende jaar, per Amerikaans fiscaal jaar en noem maar op. Zoek hier vooral nog wat informatie over als deze dingen nodig of nuttig blijken!

Het veranderen van de frequentie van je periode is wel nog interessant om te bekijken. Maak van je 3H30 PeriodIndex een TimeSeries te maken met random getallen. Gebruik asfreq() om die te resamplen naar perioden per dag. Wat is er met de indices en getallen gebeurd?

.resample() is een functie waarmee je de frequentie kunt veranderen en binnen de nieuwe frequentie ook aggregeren. Doe dit ook met dagen, en sommeer alle getallen. Welke vrijheid in keuze heb je rekening mee te houden?

Downsampling is uiteraard ook mogelijk.

Maak een reeks van alle eerste dagen van de maand. Trek er vervolgens een dag vanaf. Check van het resultaat ook de frequentie!

In [79]:
to_include = os.path.join('uitwerkingen', '2h-perioden.py') 
# %load $to_include

Met datumtijdvariabelen is nog veel meer te doen en ik raad je aan dit goed e bestuderen als dit voor jouw werk van belang gaat zijn. Je kunt je een hoop frustratie besparen en een hoop tijd winnen als je vaardig bent met het manipuleren van datumtijd- en periodevariabelen!