In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Opdrachten bij de Introductie Python voor data science -- deel 3: "Visualisatie"

De opdrachten in dit notebook horen bij het tweede deel van de cursus, waarin we Python gebruiken voor het lezen, bewerken en schrijven van data. De meeste van deze opdrachten komen al op de cursusavond aan bod. Ik raad je aan om alle opdrachten waar je niet aan toe komt tijdens de cursus thuis te doen. In sommige gevallen zit er lesmateriaal in wat anders dan in de opdracht niet langskomt in de lesstof.

Alle opdrachten hebben een voorbeeld van een uitwerking die wordt geladen wanneer de cellen met "%load XXX" worden uitgevoerd. Let wel:
- Probeer het eerst zelf! Je leert er pas echt van door te proberen, eventueel te falen en nog een keer te proberen!
- Dit is *een* uitwerking, meerdere varianten zijn waarschijnlijk mogelijk. Overleg bij twijfel gerust met een medecursist, of met de docent!

## 1. Matplotlib
We gaan weer even terug naar de exoplanetendata die we in het vorige onderdeel al gezien hebben. De data wordt hier voor je geladen. Maak een horizontale bar chart met een bar per methode van ontdekking. De lengte van de staven moet de gemiddelde orbital_period van de planeten zijn. Geef met een errorbar de standaarddeviatie aan. Gebruik voor je plot alleen matplotlib! Bedenk een methode om de waarden beter te kunnen vergelijken. Gebruik fatsoenlijke asbijschriften.

In [8]:
planets = sns.load_dataset( 'planets')
print(planets.shape)
planets.head()

(1035, 6)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [39]:
to_include = os.path.join('uitwerkingen', '3-matplotlib.py') 
# %load $to_include

## 2. Seaborn met objectgeorienteerde matplotlib

De boxplot en violinplot over de iris data in de instructie zijn gemaakt in interactieve modus. Dit kan ook in objectgeorienteerde modus, door de seaborn resultaten naar een axes object te sturen. Maak dezelfde plot hier, in objectgeorienteerde modus.

In [7]:
to_include = os.path.join('uitwerkingen', '3-iris.py') 
# %load $to_include

## 3. Altair charts

Visualisatie is een creatief process. Ik wil je daarom niet opleggen wat je precies gaat maken, maar:
- Gebruik ofwel de iris, ofwel de cars, ofwel de exoplaneten dataset.
- Gebruik alleen Altair voor je visulisaties.
- Maak een chart met mark_point en een met mark_bar.
- Gebruik in 1 van de 2 plots een kwantitatieve kleurenschaal, en in 1 een ordinale of nominale (Het verschil tussen die twee is ook goed om te onderzoeken!)

Vanwege het zeer open karakter van deze oggave is er geen uitwerking. Als je hulp nodig hebt dan zou de instructie, zowel als de Altair gallery genoeg info moeten bieden. Overleg met je mede-cursisten!

## 4. Altair met aggregaties

## 5. Interactive charts met Altair

Interactiviteit kan niet alleen gebruikt worden voor zoomen en bewegen. Je kunt ook interacties tussen twee naast elkaar staande plots genereren. Dat onderzoeken we in deze opgave.