In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import altair as alt
import os

# Opdrachten bij de Introductie Python voor data science -- deel 3: "Visualisatie"

De opdrachten in dit notebook horen bij het tweede deel van de cursus, waarin we Python gebruiken voor het lezen, bewerken en schrijven van data. De meeste van deze opdrachten komen al op de cursusavond aan bod. Ik raad je aan om alle opdrachten waar je niet aan toe komt tijdens de cursus thuis te doen. In sommige gevallen zit er lesmateriaal in wat anders dan in de opdracht niet langskomt in de lesstof.

Alle opdrachten hebben een voorbeeld van een uitwerking die wordt geladen wanneer de cellen met "%load XXX" worden uitgevoerd. Let wel:
- Probeer het eerst zelf! Je leert er pas echt van door te proberen, eventueel te falen en nog een keer te proberen!
- Dit is *een* uitwerking, meerdere varianten zijn waarschijnlijk mogelijk. Overleg bij twijfel gerust met een medecursist, of met de docent!

## 1. Matplotlib
We gaan weer even terug naar de exoplanetendata die we in het vorige onderdeel al gezien hebben. De data wordt hier voor je geladen. Maak een horizontale bar chart met een bar per methode van ontdekking. De lengte van de staven moet de gemiddelde orbital_period van de planeten zijn. Geef met een errorbar de standaarddeviatie aan. Gebruik voor je plot alleen matplotlib! Bedenk een methode om de waarden beter te kunnen vergelijken. Gebruik fatsoenlijke asbijschriften.

In [8]:
planets = sns.load_dataset( 'planets')
print(planets.shape)
planets.head()

(1035, 6)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [39]:
to_include = os.path.join('uitwerkingen', '3-matplotlib.py') 
# %load $to_include

## 2. Seaborn met objectgeorienteerde matplotlib

De boxplot en violinplot over de iris data in de instructie zijn gemaakt in interactieve modus. Dit kan ook in objectgeorienteerde modus, door de seaborn resultaten naar een axes object te sturen. Maak dezelfde plot hier, in objectgeorienteerde modus.

In [7]:
to_include = os.path.join('uitwerkingen', '3-iris.py') 
# %load $to_include

## 3. Altair charts

Visualisatie is een creatief process. Ik wil je daarom niet opleggen wat je precies gaat maken, maar:
- Gebruik ofwel de iris, ofwel de cars, ofwel de exoplaneten dataset.
- Gebruik alleen Altair voor je visulisaties.
- Maak een chart met mark_point en een met mark_bar.
- Gebruik in 1 van de 2 plots een kwantitatieve kleurenschaal, en in 1 een ordinale of nominale (Het verschil tussen die twee is ook goed om te onderzoeken!)

Vanwege het zeer open karakter van deze oggave is er geen uitwerking. Als je hulp nodig hebt dan zou de instructie, zowel als de Altair gallery genoeg info moeten bieden. Overleg met je mede-cursisten!

## 4. Altair met aggregaties

Om mee te spelen worden hieronder een aantal datasets ingeladen. Bekijk ze, kies er een die je leuk vindt en maak een willekeurige chart waarin aggregaties gebruikt worden. Deze opdracht heeft opnieuw een open karakter, maar ik heb enkele voorbeelden uitgewerkt, gewoon om te zien wat er zoal mogelijk is.

Iris, cars en expoplaneten hebben we al gezien. Die worden dus niet hier beschreven, maar je kunt ze natuurlijk best gebruiken. Welke we wel laden:
- seattle_weather: Het weer in Seattle over een lange periode met per dag de neerslag, min en max temperture, wind en een omschrijving van het weer.
- gapminder: wereldwijde vruchtbaarheid en levensverwachting
- population: de census van de Amerikaanse bevolking, aantal inwoners van beide geslachten per leeftijd in veel jaren.
- movies: een hele serie kolommen over films, met oa IMDB en Rotten Tomatoes rankings.

In [53]:
from vega_datasets import data

cars = data.cars()
iris = data.iris()
weather = data.seattle_weather()
gaps = data.gapminder()
population = data.population()
movies = data.movies()

# weather.head()
# gaps.head()
# population.head()
movies.head()

,Creative_Type,Director,Distributor,IMDB_Rating,IMDB_Votes,MPAA_Rating,Major_Genre,Production_Budget,Release_Date,Rotten_Tomatoes_Rating,Running_Time_min,Source,Title,US_DVD_Sales,US_Gross,Worldwide_Gross
0,None,None,Gramercy,6.1,1071.0,R,None,8000000.0,12-Jun-98,NaN,NaN,None,The Land Girls,NaN,146083.0,146083.0
1,None,None,Strand,6.9,207.0,R,Drama,300000.0,7-Aug-98,NaN,NaN,None,"First Love, Last Rites",NaN,10876.0,10876.0
2,None,None,Lionsgate,6.8,865.0,None,Comedy,250000.0,28-Aug-98,NaN,NaN,None,I Married a Strange Person,NaN,203134.0,203134.0
3,None,None,Fine Line,NaN,NaN,None,Comedy,300000.0,11-Sep-98,13.0,NaN,None,Let's Talk About Sex,NaN,373615.0,373615.0
4,Contemporary Fiction,None,Trimark,3.4,165.0,R,Drama,1000000.0,9-Oct-98,62.0,NaN,Original Screenplay,Slam,NaN,1009819.0,1087521.0

In [52]:
to_include = os.path.join('uitwerkingen', '3-highlights_in_de_bar.py') 
# %load $to_include

In [29]:
to_include = os.path.join('uitwerkingen', '3-altairweather.py') 
# %load $to_include

In [49]:
to_include = os.path.join('uitwerkingen', '3-lineconfidence.py') 
# %load $to_include

## 5. Interactive charts met Altair

Interactiviteit kan niet alleen gebruikt worden voor zoomen en bewegen. Je kunt ook interacties tussen twee naast elkaar staande plots genereren. Dat onderzoeken we in deze opgave. Neem een willekeurige data set, maak twee scatter plots naast elkaar. Zorg ervoor dat in beiden een range langs de y-as geselecteerd kan worden en highlight de punten van de selectie dan ook in de andere plot. Verberg de andere punten niet, maar maak ze bijvoorbeeld licht grijs.

In [12]:
to_include = os.path.join('uitwerkingen', '3-selectietweekanten.py') 
# %load $to_include